<h1>View <%= @webfile.title %></h1>
<div>
	<%= image_tag @webfile.image %>
</div>
<form action="/webfile/ <%= @webfile.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<div>
		<label>Title:</label>
		<input type="text" name="webfile[title]" value="<%= @webfile.title%>" disabled>
	<div>
		<label>Download:</label>
		<span><a href = "<%= @webfile.download%>" target="_blank"><%= @webfile.download%></a><span>
	</div>
</form>